#! /bin/bash

#gzip -d Local_markdup_[% threads %]__ALN.bam.gz

gatk Mutect2 \
  -R ./Homo_sapiens.GRCh38.chr.fa \
  -I [% threads %].bam \
  -L ./exome_extended_130.bed.gz \
  --max-mnp-distance 0 \
  -O [% threads %]_GATK.vcf.gz
